@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Righteous&display=swap');


.list-products{
   margin: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.products{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}

.welcome, .card-text, .card-title.h5{
    color: #fcddfc;
    font-family: 'Poppins', sans-serif;
}

.welcome{
    font-size: 1.25rem;
    margin: 10px;
}

.card-title.h5{
    margin: 0px;
}

.card{
    width: 20rem; 
    border: 1px solid #79fd39;
}

.card-img-top{
    height: 12rem;
    object-fit: contain;
}

.card-text{
    font-size: 0.9rem;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    background-color: #212529;
    border: 1px solid #79fd39;
    padding: 25px 25px 30px 25px ;
}

.view-product{
    background-color: #212529;
    border: 1px solid #79fd39;
    color: #fcddfc;
    text-decoration: none;
    border-radius: 5px;
    width: 10rem;
    padding-bottom: 5px;
    
}

.view-product:hover{
    border: 1px solid #212529;
    background-color: #9bff6958;
}