.tarjetita {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.card-items {
    width: 50rem;
    overflow: hidden;
}

.img-products {
    display: flex;
    align-items: center;
    gap: 5px;
}

.imagen-detalle {
    object-fit: contain;
}

.list-group-item {
    color: #fcddfc;
    background-color: #212529;
}


.info-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    background-color: #212529;
    border: 1px solid #79fd39;
}

.btn-cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    
}

.mqp {
    display: flex;
    gap: 5px;
}

.minus,
.plus,
.quanti {
    width: 3rem;
    background-color: #212529;
    color: #fcddfc;
    padding: 5px;
}

.minus, .plus{
    border: 1px solid #dee2e6;
    border-radius: 5px;
}


.minus:hover, .plus:hover{
    background-color: #212529;
    border: 1px solid #79fd39;
    border-radius: 5px;
}


.add{
    background-color: #212529;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    color: #fcddfc;
    padding: 5px; 
}

.add:hover {
    color: #fcddfc;
    border: 1px solid #212529;
    border-radius: 5px;
    background-color: #9bff6958;
    width: 100%;
}

.secc-body{
    padding: 0px;
}


