@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Righteous&display=swap');


.icono{
    color: #79fd39;
}

.count{
    color: #fcddfc;
    font-family: 'Righteous', sans-serif;
}